             <header>
            <div class="menu-css" id="menu-top-left">
                <a href="#" class="et-hero-tab-menu-top">Home</a>
                <a href="#" class="et-hero-tab-menu-top" id="btn-precos">Preços</a>
            </div>  

            <div class="menu-css" id="menu-top-right">
                <a href="#" class="et-hero-tab-menu-top">Login</a>
                <a href="#" class="et-hero-tab-menu-top" id="btn-cadastrar">Cadastrar</a>
            </div>  
        </header> 
            <section class="et-hero-tabs"> 
                <span class="margem"></span>
                <h1>FUTURE PRIME</h1>
                <h3>GERENCIE SUA LOJA DE UMA MANEIRA SIMPLES!</h3>
                <div id="menu-bot" class="et-hero-tabs-container">
                  <a class="et-hero-tab" href="#tab-es6">Vendas</a>
                  <a class="et-hero-tab" href="#tab-flexbox">Produtos</a>
                  <a class="et-hero-tab" href="#tab-react">Clientes</a>
                  <a class="et-hero-tab" href="#tab-angular">Fornecedores</a>
                  <a class="et-hero-tab" href="#tab-other">Compras</a>
                  <span class="et-hero-tab-slider"></span>
                </div>
          </section>

          <!-- Main -->
          <main class="et-main">
            <section class="et-slide" id="tab-es6">
              <h1>ES6</h1>
              <h3>something about es6</h3>
            </section>
            <section class="et-slide" id="tab-flexbox">
              <h1>Flexbox</h1>
              <h3>something about flexbox</h3>
            </section>
            <section class="et-slide" id="tab-react">
              <h1>React</h1>
              <h3>something about react</h3>
            </section>
            <section class="et-slide" id="tab-angular">
              <h1>Angular</h1>
              <h3>something about angular</h3>
            </section>
            <section class="et-slide" id="tab-other">
              <h1>Other</h1>
              <h3>something about other</h3>
            </section>
          </main>